---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Gravação a Laser | Gravasteel">
   <div
      class="max-w-3xl mx-auto px-4 lg:px-8 w-full lg:w-[95%] pt-18 pb:12 lg:py-32 space-y-6"
   >
      <section
         class="w-full max-w-4xl mx-auto text-primary-950 relative px-4 sm:px-6 lg:px-8"
      >
         <h1 class="text-3xl font-bold text-secondary-600 mb-4">
            Gravação a Laser
         </h1>
      </section>
</Layout>
