---
import IconWhatsapp from "../assets/icons/brand-whatsapp.svg";
import Button from "./ui/Button.astro";
import Image from "astro/components/Image.astro";
import Background from "../assets/images/background.webp";
---

<section id="hero" class="relative overflow-hidden text-zinc-800">
   <!-- Imagem de fundo -->
<div
  style={`background-image: url(${Background.src});`}
  class="absolute inset-0 -z-10 bg-cover bg-center opacity-60"
>
  <div class="absolute inset-0 bg-gradient-to-b from-zinc-900 via-white/50 to-white"></div>
</div>


   <!-- Conteúdo -->
   <div
      class="relative max-w-7xl mx-auto px-4 lg:px-8 w-full lg:w-[95%] pt-28 pb-20 lg:py-52 flex flex-col lg:flex-row items-center gap-16"
   >
      <!-- Coluna Esquerda -->
      <div class="w-full lg:w-1/2 text-left pt-20 md:pt-0">
         <h1
            class="text-4xl xl:text-5xl text-zinc-900 font-semibold leading-tight tracking-tight text-balance"
         >
            Gravações a laser com precisão — de pequenos a grandes formatos
         </h1>

         <p class="mt-6 text-lg text-zinc-900 max-w-xl mx-auto lg:mx-0 font-medium mb-12">
            Com tecnologia de ponta, realizamos gravações a laser duráveis e
            precisas em peças de qualquer tamanho — de pequenos componentes a
            ferramentais de 100 toneladas.
         </p>

            <Button
               text="Fale com um especialista"
               href="https://wa.me/5554981171189?text=Ol%C3%A1!%20Gostaria%20de%20falar%20com%20um%20vendedor."
            >
               <IconWhatsapp slot="icon" class="w-5 h-5 -ms-1" />
            </Button>
      </div>

      <!-- Coluna Direita -->
      <!-- <div class="w-full lg:w-1/2 flex justify-center lg:justify-end">
         <div
            class="relative rounded-3xl overflow-hidden shadow-2xl w-full aspect-[4/3]"
         >
            <Image
               src={Background}
               alt="Máquina de corte a laser"
               class="w-full h-full object-cover"
            />
            <div
               class="absolute inset-0 bg-gradient-to-t from-black/40 via-transparent to-transparent"
            ></div>
         </div>
      </div> -->
   </div>
</section>
