---
import Button from "../components/ui/Button.astro";
import IconWhatsapp from "../assets/icons/brand-whatsapp.svg";
import Image from "astro/components/Image.astro";
import img1 from "../assets/images/gravasteel-home-gravacao-de-moldes.webp";
import img2 from "../assets/images/gravasteel-home-placas.webp";

---

<section id="servicos" class="bg-white pb-24">
   <div class="max-w-5xl mx-auto mb-16  px-6 lg:px-8 text-center">
      <span
         class="inline-block text-xs font-medium tracking-[0.25rem] uppercase text-zinc-600 bg-zinc-100 px-6 py-2 rounded"
      >
         Serviços
      </span>

      <h2
         class="mt-6 text-4xl md:text-5xl font-semibold text-zinc-900 text-balance"
      >
         Conheça nossas soluções em gravação a Laser
      </h2>

      <p class="mt-5 text-lg text-zinc-700 max-w-2xl mx-auto">
         Com tecnologia de ponta e equipe experiente, garantimos uma gravação
         permanente, nítida e resistente mesmo sob condições extremas de uso.
      </p>

      <div class="mt-8">
         <Button
            text="Fale com um especialista"
            href="https://wa.me/5554936183497?text=Ol%C3%A1!%20Gostaria%20de%20falar%20com%20um%20vendedor."
            target="_blank"
         >
            <IconWhatsapp slot="icon" class="w-5 h-5 -ms-1" />
         </Button>
      </div>
   </div>

   <div class="max-w-7xl mx-auto px-6 lg:px-8 text-center">

      <!-- Services Grid -->
      <div class="grid gap-8 sm:grid-cols-2">
         <!-- Service 1 -->
         <div
            class="bg-zinc-100 rounded-2xl shadow-sm p-8 hover:shadow-md transition-all"
         >
            <h3 class="text-xl lg:text-2xl font-semibold text-zinc-900 mb-3">
               Gravações a laser para moldes
            </h3>
            <p class="text-zinc-700 mb-6">
               Gravações a laser de alta precisão em peças técnicas, moldes e
               componentes metálicos — do menor detalhe a ferramentais de até
               100 toneladas. Resultado permanente, nítido e resistente, com
               acabamento impecável.
            </p>
            <Image
               src={img1}
               alt="Gravação de moldes"
               class="rounded-xl border border-zinc-100"
            />
         </div>

         <!-- Service 2 -->
         <div
            class="bg-zinc-100 rounded-2xl shadow-sm p-8 hover:shadow-md transition-all"
         >
            <h3 class="text-xl lg:text-2xl font-semibold text-zinc-900 mb-3">
               Placas de identificação
            </h3>
            <p class="text-zinc-700 mb-6">
               Placas de identificação industrial e registro
               técnico de equipamentos. Personalize com peso, número de série,
               instruções de operação, logos ou selos de garantia, garantindo
               durabilidade e leitura perfeita ao longo do tempo.
            </p>
            <Image
               src={img2}
               alt="Placas de identificação"
               class="rounded-xl border border-zinc-100"
            />
         </div>
      </div>
   </div>
</section>
