---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import Services from './Services.astro';
import Faq from './Faq.astro';
import Clients from './Clients.astro';
import Footer from './Footer.astro';
import Resources from './Resources.astro';
import About from './About.astro';
import Gallery from './Gallery.astro';
import Hero from './Hero.astro';
import Benefits from './Benefits.astro';
import WhatsappButton from './WhatsappButton.astro';
---

<div id="container">

  




   <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>

</div>
